// Color File

// Provides LESS color options for use in projects
// @version 2.0.0
// @link http://lesscss.org/



// Complementary Color Scheme
@complement1: spin( @base, 180 );
@complement2: darken( spin( @base, 180 ), 5% );

@lighten15: lighten( @base, 15% );
@lighten30: lighten( @base, 30% );
@lighten50: lighten( @base, 50% );

@darken15: darken( @base, 15% );
@darken30: darken( @base, 30% );
@darken50: darken( @base, 50% );


// Subtle Color Scheme
@lighter10: lighten( spin( @base, 5 ), 10% );
@lighter20: lighten( spin( @base, 10 ), 20% );

@darker10: darken( spin( @base, -5 ), 10% );
@darker20: darken( spin( @base, -10 ), 20% );
