.feature-block {
    margin-top: 60px;
    margin-top: 3.75rem;
}

.feature-boxes-item {
        float: left;
        margin-left: 4.166666666%;
        width: 30.555555555%;

        &:first-child {
            margin-left: 0;
        }
}

.feature-box-image img {
    background-color: transparent;
    border: 0px;
    display: block;
    margin: 0 auto;
}

.feature-box-title,
.feature-box-content,
.feature-box-button-area {
    text-align: center;
}

.feature-box-title {
    border-bottom: 1px solid #ddd;
    position: relative;

    span {
        background: url(images/inner.png) transparent repeat;
        padding: 0 12px;
        padding: 0 0.75rem;
        position: relative;
        top: 10px;
    }
}

.feature-box-content {
    line-height: 1.625;
}

.feature-box-button-area {
    margin-top: 20px;
    margin-top: 1.25rem;
}
