/* Footer
------------------------------------------------------------ */
#footer{
    border-top: 1px solid #f0f0f0;
    clear: both;
    color: #eee;
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    width: 100%;

    a,
    a:hover,
    a:visited {
        color: #f7f7f7;
        font-size: inherit;
    }

    a:hover {
        text-decoration: underline;
    }
    
    p {
        /*color: #a7a7a7;*/
        color: lighten( @body-bg, 50% );
        font-size: inherit;
    }

    .wrap {
        overflow: hidden;
        padding: 10px 15px;
    }
    
    .gototop {
	float: left;
	width: 35%;
    }


    .creds {
        float: right;
        text-align: right;
        width: 65%;
    }
}