/*
11 Footer
---------------------------------------------------------------------------------------------------- */

#footer {
    border-top: 2px solid @white;
    clear: both;

    .wrap {
	    overflow: hidden;
	    padding: 24px 0;
	    padding: 1.5rem 0;
    }

    .creds {
        margin: 8px 0;
        margin: 0.5rem 0;
    	text-align: right;
    }

    #menu-footer-nav {
        float: left;
        width: 50%;

        .contact,
        .facebook,
        .rss,
        .twitter {
            display: inline-block;
            margin-right: 8px;
            margin-right: 0.5rem;

            a {
                background: url(images/sprite_32x32.png) no-repeat;
                display: block;
                width: 32px;
                height: 32px;
                text-indent: -9999px;
                .opacity( 70 );

                &:hover { .opacity( 100 ); }
            }
        }

        .contact a { background-position: -32px 0; }

        .facebook { 
            margin-right: 0; /* to fix an alignment issue */ 
            
            a { background-position: -64px 0; }
        }

        .rss a { background-position: -192px 0; }

        .twitter a { background-position: -256px 0; }
    }
}