/*
11 Footer
---------------------------------------------------------------------------------------------------- */

#footer {
    border-top: 2px solid @white;
    clear: both;

    .wrap {
	    overflow: hidden;
	    padding: 24px 0;
	    padding: 1.5rem 0;
    }

    .creds {
    	text-align: right;
    }

    .creds,
    .gototop {
    	margin: 8px 0;
    	margin: 0.5rem 0;
    }
}