/*
14 Home Customizations
---------------------------------------------------------------------------------------------------- */
.home {

    h2 {
        font-size: 35px;
        font-family: @font-script;
        margin: 10px 0 65px;
        margin: 0.625rem 0 4.0625rem;
    }

    img {
        background-color: transparent;
        border: 0px;
        margin-bottom: 80px;
        margin-bottom: 5rem;
    }
}
