/*
14 Home Customizations
---------------------------------------------------------------------------------------------------- */
.home {

    h2 {
        font-size: 35px;
        font-family: @font-script;
        margin: 10px 0 65px;
        margin: 0.625rem 0 4.0625rem;
    }

    img {
        background-color: transparent;
        border: 0px;
        margin-bottom: 80px;
        margin-bottom: 5rem;
    }

    .textwidget {
        margin: 64px 0 80px;
        margin: 4rem 0 5rem;
        text-align: center;
    }
}

.home-top {
    .page p {
        font-size: 24px;
        font-family: @font-script;
    }
}

.services-grid {

    .service {
        width: 50%;
        float: left;
        padding: 52px 0 32px;
        padding: 3.25rem 0 2rem;
        text-decoration: none;
        .box-sizing();

        h2 {
            padding-left: 96px;
            padding-left: 6rem;
            height: 65px;
            margin-bottom: 44px;
            margin-bottom: 2.75rem;
        }
    }

    .website-design {
        h2 {
            background: transparent url(images/web-design.png) no-repeat;
        }
    }

    .tech-consulting {
        h2 {
            background: transparent url(images/tech-consulting.png) no-repeat;
        }
    }
}