/* Abbreviation Styling
------------------------------------------------------------ */
.arconix-abbr {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
/* Box Styling
------------------------------------------------------------ */
.arconix-box {
  border: 1px solid;
  clear: both;
  margin: 16px 0;
  margin: 1rem 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset;
}
.arconix-box-blue,
.arconix-box-green,
.arconix-box-grey,
.arconix-box-red,
.arconix-box-tan,
.arconix-box-yellow {
  padding: 16px;
  padding: 1rem;
}
.arconix-box-blue {
  background-color: #dbe7f8;
  border-color: #afcaf1;
}
.arconix-box-green {
  background-color: #f2f9e5;
  border-color: #def0bb;
}
.arconix-box-grey {
  background-color: #f2f2f2;
  border-color: #d9d8d8;
}
.arconix-box-red {
  background-color: #ffdfdf;
  border-color: #ffacac;
}
.arconix-box-tan {
  background-color: #fef8e1;
  border-color: #fdedaf;
}
.arconix-box-yellow {
  background-color: #ffffd5;
  border-color: #ffffa2;
}
.arconix-box-alert,
.arconix-box-comment,
.arconix-box-download,
.arconix-box-info,
.arconix-box-tip {
  padding: 16px 20px 16px 56px;
  padding: 1rem 1.25rem 1rem 3.5rem;
  background-repeat: no-repeat;
}
.arconix-box-alert {
  background: url(../../plugins/arconix-shortcodes/images/box-alert.png) 16px;
  background-color: #ffdfdf;
  border-color: #feadad;
  color: #c51a00;
}
.arconix-box-comment {
  background: url(../../plugins/arconix-shortcodes/images/box-comment.png) 16px;
  background-color: #fef8e1;
  border-color: #fcecb0;
  color: #c0b206;
}
.arconix-box-download {
  background: url(../../plugins/arconix-shortcodes/images/box-download.png) 16px;
  background-color: #f2f9e5;
  border-color: #ddefbc;
  color: #65a025;
}
.arconix-box-info {
  background: url(../../plugins/arconix-shortcodes/images/box-info.png) 16px;
  background-color: #dbe7f8;
  border-color: #b1cbef;
  color: #1e429c;
}
.arconix-box-tip {
  background: url(../../plugins/arconix-shortcodes/images/box-tip.png) 16px;
  background-color: #ffffd5;
  border-color: #fefea3;
  color: #a2bc00;
}
/* Button Styling
------------------------------------------------------------ */
.arconix-button-large {
  font: 16px Arial, Helvetica, sans-serif;
  padding: 8px 32px 9px;
}
.arconix-button-medium {
  font: 12px Arial, Helvetica, sans-serif;
  padding: 6px 24px 7px;
}
.arconix-button-small {
  font: 11px Arial, Helvetica, sans-serif;
  padding: 3px 8px 4px;
}
/* Button Colors
------------------------------------------------------------ */
/* Blue
------------------------------------- */
.arconix-button-blue {
  background: #0064cd;
  border: 1px solid #004b9a;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  background-color: #107beb;
  background-image: -webkit-linear-gradient(top, #1b8aff, #0064cd);
  background-image: -moz-linear-gradient(top, #1b8aff, #0064cd);
  background-image: -ms-linear-gradient(top, #1b8aff, #0064cd);
  background-image: -o-linear-gradient(top, #1b8aff, #0064cd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b8aff), to(#0064cd));
  background-image: linear-gradient(top, #1b8aff, #0064cd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#1b8aff', end-colorstr='#0064cd', GradientType=0);
  margin-bottom: 10px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}
.arconix-button-blue:hover {
  background: #0062c8;
  background-color: #0b73e1;
  background-image: -webkit-linear-gradient(top, #0064cd, #1b8aff);
  background-image: -moz-linear-gradient(top, #0064cd, #1b8aff);
  background-image: -ms-linear-gradient(top, #0064cd, #1b8aff);
  background-image: -o-linear-gradient(top, #0064cd, #1b8aff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0064cd), to(#1b8aff));
  background-image: linear-gradient(top, #0064cd, #1b8aff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#0064cd', end-colorstr='#1b8aff', GradientType=0);
  text-decoration: none;
}
.arconix-button-blue:hover {
  color: #ffffff;
}
/* Green
------------------------------------- */
.arconix-button-green {
  background: #759b3b;
  border: 1px solid #59762d;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  background-color: #8cb351;
  background-image: -webkit-linear-gradient(top, #9cc260, #759b3b);
  background-image: -moz-linear-gradient(top, #9cc260, #759b3b);
  background-image: -ms-linear-gradient(top, #9cc260, #759b3b);
  background-image: -o-linear-gradient(top, #9cc260, #759b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9cc260), to(#759b3b));
  background-image: linear-gradient(top, #9cc260, #759b3b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#9cc260', end-colorstr='#759b3b', GradientType=0);
  margin-bottom: 10px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}
.arconix-button-green:hover {
  background: #72973a;
  background-color: #84ab4a;
  background-image: -webkit-linear-gradient(top, #759b3b, #9cc260);
  background-image: -moz-linear-gradient(top, #759b3b, #9cc260);
  background-image: -ms-linear-gradient(top, #759b3b, #9cc260);
  background-image: -o-linear-gradient(top, #759b3b, #9cc260);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#759b3b), to(#9cc260));
  background-image: linear-gradient(top, #759b3b, #9cc260);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#759b3b', end-colorstr='#9cc260', GradientType=0);
  text-decoration: none;
}
.arconix-button-green:hover {
  color: #ffffff;
}
/* Red
------------------------------------- */
.arconix-button-red {
  background: #9d261d;
  border: 1px solid #721c15;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  background-color: #c13227;
  background-image: -webkit-linear-gradient(top, #d83a2e, #9d261d);
  background-image: -moz-linear-gradient(top, #d83a2e, #9d261d);
  background-image: -ms-linear-gradient(top, #d83a2e, #9d261d);
  background-image: -o-linear-gradient(top, #d83a2e, #9d261d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d83a2e), to(#9d261d));
  background-image: linear-gradient(top, #d83a2e, #9d261d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#d83a2e', end-colorstr='#9d261d', GradientType=0);
  margin-bottom: 10px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}
.arconix-button-red:hover {
  background: #99251c;
  background-color: #b52e24;
  background-image: -webkit-linear-gradient(top, #9d261d, #d83a2e);
  background-image: -moz-linear-gradient(top, #9d261d, #d83a2e);
  background-image: -ms-linear-gradient(top, #9d261d, #d83a2e);
  background-image: -o-linear-gradient(top, #9d261d, #d83a2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d261d), to(#d83a2e));
  background-image: linear-gradient(top, #9d261d, #d83a2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#9d261d', end-colorstr='#d83a2e', GradientType=0);
  text-decoration: none;
}
.arconix-button-red:hover {
  color: #ffffff;
}
/* Silver
------------------------------------- */
.arconix-button-silver {
  background: #cccccc;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  background-color: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -moz-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -ms-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -o-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#cccccc));
  background-image: linear-gradient(top, #f2f2f2, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#f2f2f2', end-colorstr='#cccccc', GradientType=0);
  margin-bottom: 10px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #333333;
  text-shadow: 0px 1px 0 #fff;
}
.arconix-button-silver:hover {
  background: #c9c9c9;
  background-color: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #cccccc, #f2f2f2);
  background-image: -moz-linear-gradient(top, #cccccc, #f2f2f2);
  background-image: -ms-linear-gradient(top, #cccccc, #f2f2f2);
  background-image: -o-linear-gradient(top, #cccccc, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#f2f2f2));
  background-image: linear-gradient(top, #cccccc, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorstr='#cccccc', end-colorstr='#f2f2f2', GradientType=0);
  text-decoration: none;
}
.arconix-button-silver:hover {
  color: #333333;
  text-shadow: 0px 1px 0 #dcddde;
}
/* Highlight
------------------------------------------------------------ */
.arconix-highlight {
  padding: 3px 4px;
}
.arconix-highlight-yellow {
  background-color: #ffc40d;
}
/* Unordered list Styling
------------------------------------------------------------ */
.arconix-list ul {
  margin: 0 0 10px 25px !important;
}
.arconix-list ul li {
  background-repeat: no-repeat;
  list-style: none !important;
  margin-top: 5px;
  padding: 0 0 0 20px;
}
.arconix-list-arrow-black ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-black.png) 0 6px;
}
.arconix-list-arrow-blue ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-blue.png) 0 6px;
}
.arconix-list-arrow-green ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-green.png) 0 6px;
}
.arconix-list-arrow-grey ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-grey.png) 0 6px;
}
.arconix-list-arrow-orange ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-orange.png) 0 6px;
}
.arconix-list-arrow-pink ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-pink.png) 0 6px;
}
.arconix-list-arrow-red ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-red.png) 0 6px;
}
.arconix-list-arrow-white ul li {
  background: url(../../plugins/arconix-shortcodes/images/arrow-white.png) 0 6px;
}
.arconix-list-check ul li {
  background: url(../../plugins/arconix-shortcodes/images/check.png) 0 6px;
}
.arconix-list-close ul li {
  background: url(../../plugins/arconix-shortcodes/images/close.png) 0 6px;
}
.arconix-list-star ul li {
  background: url(../../plugins/arconix-shortcodes/images/star.png) 0 6px;
}
/* Tabs Styling
------------------------------------------------------------ */
.arconix-tabs-horizontal {
  clear: both;
  margin-top: 3px;
}
ul.arconix-tabs {
  margin: 0 !important;
  padding: 0;
}
ul.arconix-tabs li.arconix-tab {
  list-style: none;
  float: left;
  margin: 0 6px 16px 0;
  margin: 0 0.375rem 1rem 0;
}
ul.arconix-tabs li.arconix-tab a {
  color: #333333;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px;
  padding: 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
}
ul.arconix-tabs li.arconix-tab a:active {
  outline: none;
}
ul.arconix-tabs li.arconix-tab a.current {
  cursor: default;
}
ul.arconix-tabs li.arconix-tab a:hover,
ul.arconix-tabs li.arconix-tab a.current {
  border-bottom: 3px solid #759b3b;
}
.arconix-panes {
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
}
.arconix-pane {
  padding: 20px 15px 0;
}
.arconix-pane h4 {
  font-size: 18px;
  font-size: 1.125rem;
}
.pane-changelog h4 {
  font-size: 16px;
  font-size: 1rem;
}
.pane-screenshots img.screenshot {
  max-width: 50%;
}
.pane-screenshots p {
  color: #777;
  text-indent: 10px;
}
.pane-screenshots ol li {
  list-style-type: none;
  margin-left: 0;
}
